body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dde1e8b1;
    font-family: 'Poppins';font-size: 22px;
}

.tilt-container {
    perspective: 1000px;
   
}

.tilt-element {
    width: 500px;
    height: 300px;
    background: linear-gradient(-225deg, #3e87f5 0%, #a2cdf9 48%, #4c98db 100%);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transform: rotateX(0) rotateY(0);
    transition: transform 0.3s ease-out;
    transition: width 0.5s ease, height 0.5s ease;
   
}

.text-midddle{
    text-align: center;
}

.text-black{
    color: black;
}

.login-button{
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    border-width: 0rem;
    margin: 2rem 0 0rem 11rem;

}

.signup-button{
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    border-width: 0rem;
    margin: 2rem 0 0rem 0rem;
}

.logout-button{
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    border-width: 0rem;
    margin: 2rem 0 0rem 0rem;
    background-color:#aaaaaa;
    font-weight: bold;
    /* margin: 1rem 0rem 0rem 28rem; */

}
.dashboard-button{
    
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    border-width: 0rem;
    margin: 2rem 0rem 0rem 21rem;

}

.login{
    background-color:#1941c340;
}
.inp input {
    /* -webkit-appearance: none; */
    width: 50%;
    border: 0;
    padding: .15rem;
    height: 2rem;
    font-size: 16px;
    font-weight: 500;   
    border-radius: 1rem;
    color: #0832bd;
    transition: all 0.15s ease;
    margin-left: 9rem;
  }

.input-field{

    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.cancel-link{
    margin-left: 30rem;
    font-size: 1rem;
}

.user{
    color: black;
}